<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MyCompanyServiceSoap">
					<security mode="Transport" />
				</binding>
				<binding name="MyCompanyServiceSoap1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://localhost:44389/MyCompanyService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyCompanyServiceSoap"
                contract="MyCopmanyService.MyCompanyServiceSoap" name="MyCompanyServiceSoap" />
		</client>
	</system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>